[submodule "src/vendor/minhook"]
	path = src/vendor/minhook
	url = https://github.com/tsudakageyu/minhook
[submodule "src/vendor/spdlog"]
	path = src/vendor/spdlog
	url = https://github.com/gabime/spdlog
